.title {
  font-size: 7vh;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin: 15px;
}
.header {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 35vh;
  width: 100%;
}

.search .select {
  width: 43%;
}

.search input {
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 30px;
  padding: 3px;
}

::before {
  margin-right: 30px;
  border-radius: 3px;
}
:after {
  margin-right: 30px;
  border-radius: 3px;
}
